CERTTYPE, GROUP, LOGIC, INFO
hates_sand, 1, XOFN, 2
age_in_twenties, 1, XOFN, 2
smoker, 1, XOFN, 2
end

group number dictates which CERTTYPE belong to which LOGIC
LOGIC dictates the policy logic for the group
INFO provides the extra info needed by some groups, like what X is for XOFN